body{
    margin:auto; 
    display:flex;
    flex-direction:row;

}
main{
    display:flex;
    flex-direction:column;
}
nav{
    width:100%;
    height:auto;
    background-color:rgb(223, 2, 2);  
    display:flex;
}
nav a{
    margin: 0px 8px;
    font-size: 14px;
    font-family:sans-serif;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}
#nav {
    width:100%;
    list-style-type:none;
    display:flex;
    flex-direction:row;
    align-content: center;
}
nav a:hover{
    text-decoration:underline;
    color:white;
}
p{
    font-size:1.8vw;
    text-decoration:none;
}
h3{
    font-size:1.5;
}
.lead{
    font-size:3vw;
}
.anal{
    color:red;
    font-size:1.5vw;
    text-transform:uppercase;
}




#menu{
    font-color:red;
    font-family:Arial, Helvetica, sans-serif;
}
#menu:hover{
    font-color:black;

}
#new{
    text-transform:uppercase;
}

#mor{    
    padding:2.5px;
    text-transform: capitalize;
    border:1px solid white;
}
#mor:hover{
    color:red;
    background-color:white;
}
#logo{
    width:6rem;
    height:auto;
    border-right:1px solid red;
}
#update{
    color:gray;
    font-size:1.1vw;
    font-family:sans-serif;
    text-transform: capitalize;
    display:inline;
}
#arti{
    margin:1rem;
    padding: 0rem 0rem 3rem 0rem;
    width:60%;
    height:auto;
    text-align:left;
    border-bottom: 1px solid rgb(161, 160, 160);
}
#imgM{
    width:100%;
}
.artii{
    padding-left:2rem;
    width:18.1rem;
    height:auto;
    text-align:left;
    border: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(161, 160, 160);
    display:flex;
}
.artii:hover{
    border:3px solid red;
}


.fs{
    margin-top:1rem;
    width:15vw;
    height:8vw;
}

