nav{
    margin:auto;
    width:auto;
    height:3rem;
    background-color:rgb(223, 2, 2);  
}
a{
    color:white;
    text-decoration:none;
    
}
.subnav{
    margin: .1vw 2vw .1vw 2vw;
    font-size:2vw;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    position:relative;
    top:.5rem;
}
.subnav:hover{
    text-decoration:underline;
}
#menu{
    font-color:red;
    font-family:Arial, Helvetica, sans-serif;
}
#menu:hover{
    font-color:black;

}
#new{
    margin:22px;
    font-family:Arial, Helvetica, sans-serif;/*stright thin and sleek*/
    font-size:3vw;
    text-transform:uppercase;
    position:relative;
    top:.5rem;
}
#top{
    margin: 2vw;
    padding:.2rem;
    color:red;
    background-color:white;
    font-size:2vw;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    position:relative;
    top:.5rem;
}
#mor{    
    margin: 2vw;
    padding:2px;
    font-size:2vw;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    border:1px solid white;
    position:relative;
    top:.5rem;
    left:1rem;
}
#mor:hover{
    color:red;
    background-color:white;
}
#logo{
    width:6rem;
    height:auto;
    border-right:1px solid red;

}
