body{
    background-color: beige;

}
h1,a{
    text-align: center;
}
table{
    margin:auto;
    border: 1px solid black;
    border-collapse:collapse;
}
th,td{
    margin:2vw;
    padding:2vw;
}
thead{
    background-color: bisque;
    border-bottom: 3px double rgb(44, 44, 44);
}
tbody>tr:nth-child(even){
    background-color: rgb(170, 170, 154);
}