table {
    text-align:center;
}
td {
    width: 100px;
    height:100px;
}
#a1 {
    background-color:ivory;
}
#a2 {
    background-color:yellow;  
}
#a3 {
    background-color:gold; 
}
#a4 {
    background-color:orange;
}
#a5 {
    background-color:coral;
}
#a6 {
    background-color:tomato;
}
#a7 {
    background-color:red;
}
#a8 {
    background-color:maroon;
}
#b1 {
    background-color:lavender;
}
#b2 {
    background-color:pink;
}
#b3 {
    background-color:deeppink;
}
#b4 {
    background-color:plum;
}
#b5 {
    background-color:violet;
}
#b6 {
    background-color:fuchsia;
}
#b7 {
    background-color:purple;
}
#b8 {
    background-color:indigo;
}
#c1 {
    background-color:lime;
}
#c2 {
    background-color:green;
}
#c3 {
    background-color:olive;
}
#c4 {
    background-color:aqua;
}
#c5 {
    background-color:skyblue;
}
#c6 {
    background-color:teal;
}
#c7 {
    background-color:blue;
}
#c8 {
    background-color:navy;
}
#d1 {
    background-color:white;
}
#d2 {
    background-color:silver;
}
#d3 {
    background-color:gray;
}
#d4 {
    background-color:black;
}
#d5 {
    background-color:wheat;
}
#d6 {
    background-color:tan;
}
#d7 {
    background-color:chocolate;
}
#d8 {
    background-color:saddlebrown;
}