<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survay</title>
    <link rel="stylesheet" href="/css/survStyle.css">
</head>
<body>
    <script src="/js/surv.js"></script>
    <div>
        <p>Follow <a href="/">here</a> to go to the homepage</p>
        <h1>Rate our services</h1>
        <label for="name">Enter Full Name:</label>
        <input type="text">
        <label for="date">Day: </label>
        <input id="today" type="date"><br>
        <label for="quality of service">On a scale of 1 to 10 how would you rate our services?</label>
        <select name="rating" id="qualityOfService">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select> <br> 
        <label for="recommendScale">On a scale of 1 to 5 how likely are you to recommend us to a friend?</label>
        <select name="rating2" id="recomFriend">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select><br>
        <label for="Use service again">On a scale of 1 to 10 how would you rate our services?</label>
        <select name="rating3" id="useAgain">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

</body>
</html>