<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutStyles.css">
    <title>Sammantha Preston</title>
</head>
<body>
    <nav>
        <a href="/">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <div id="title">
        <h1>Sammantha Preston</h1>
        <h2>Web Delveloper</h2>
        </div>
        <img src="#">
        <div id="aboutMe">
            <p>Head in the clouds, eyes on the stars.</p>
        </div>
        
        
    </main>
    <footer></footer>
</body>
</html>