<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Chakra+Petch&family=Nunito&family=Orbitron&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <title>Sammantha Preston</title>
</head>
<body>
  
    <main>
        <!-- <div id="topBanner">
            <h1 id="fn">Sammantha</h1>
            <h1 id="ln">Preston</h1>
        </div> -->
      
        <div id="largeCard">
            
            <nav>
                <img src="/img/proPic.jpg"> <!--I want to take another picture-->
                
                <span id="pageSelection">
                    <button value="About" onclick="aboutPage()">About</button>
                    <button value="Projects" onclick="projectPage()">Projects</button>
                    <button value="Resume" onclick="resumePage()">Resume</button>
                    <button value="Contact" onclick="contactPage()">Contact</button>
                </span>
                
            </nav> 
            <script src="/js/mainContent.js"></script>
            <div id="profileCard">
                <h1>Sammantha Preston</h1>
                <h3>Web Developer</h3>
                <h3>UI / UX Designer</h3>
                <div id="mainContent"></div> <!--This will contain 4 .ejs files: About, Projects Resume, Contact-->
            </div>
            
            
        </div>
        
        
    </main>
    <footer></footer>
</body>
</html>