body{
    background-color:rgb(27, 26, 26);
}
#missionControl{
    margin: 10px;
    padding: 50px;
    color: rgb(0, 156, 0);
    background-color:black;
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    border: 20px solid gray;
}
#gameControls{
    display:flex;
    flex-direction: row;
}
.box{
    margin: 20px;
    color: rgb(0, 156, 0);
    height: 3rem;
    width: 40rem;
    border: 1px solid gray;
}