body{
    margin:auto;
    background-color:rgb(245,246,247);
    contain:content;
}
nav{
    padding:10px;
    width:100%;
    color:white;
    background-color:rgb(10,10,35);
    position:sticky;
    top:0;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
    z-index:1;
}

input{
    padding:1px 5px;
    height:25px;
    font-size: 18px;
    color:white;
    background-color:rgb(10,10,35);
    display:flex;
    align-items: flex-start;

}
.logo{
    font-size:25px;
    font-family:'Chakra Petch', sans-serif;
    display:flex;
    align-items: center;
    
}


.dropbtn{
    padding:1px 5px;
    font-size:18px;
    color:white;
    background-color:rgb(10,10,35);
    border:1px solid white;
    position:relative;
    right:20px;
}
button:hover{
    color:rgb(10,10,35);
    background-color:white;
}
.dropdown{
    display:inline-block;
}
.dropdown-content{
    padding:10px 0px;
    font-family:sans-serif;
    text-align: left;
    text-decoration:none;
    display: none;
    position: absolute;
    background-color: rgb(10,10,35);
    box-shadow: 0px 8px 16px rgb(10,10,35); 
    
}
.dropdown-content a{
    padding:0px 20px;
    font-size:18px;
    color:white;
    text-transform:capitalize;
    text-decoration: none;
}
.dropdown-content a:hover {
    color:rgb(0, 0, 48);
    background-color:white;

}
button:hover .dropdown-content {
    display: flex;
    flex-direction:column;
    position:abolute;
    right:0px;
}
/*<hr>line wont span .dropdown box. */
#welcome{
    margin:auto;
    padding:40px 0px;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:left;
}
#welcome h1{
    padding: 30px 0px;
    width:50%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
#welcome p{
    margin:30px;
    padding: 30px 0px;
    width:45%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    contain:content;
}
#welcome div{
    padding:10px 0px;
    width:fit-content;
    display:flex;
    flex-direction:row; 
    contain: content;
}
#welcome i{
    margin-top:40px; 
    padding: 0px 20px;
    font-size:40px;
    color:rgb(10,10,35);
}
main button{
    margin: 40px 0px 0px 0px;
    padding: 10px 5px;
    width: 50%;
    font-size:26px;
    letter-spacing: 2px;
    background-image: linear-gradient(to top, rgb(199, 159, 38), rgb(238, 200, 84));
    border: 3px solid rgb(199, 159, 38);
}
main button:hover{
    background-image: linear-gradient(to top, rgb(238, 200, 84), rgb(238, 200, 84));
}
figure{
    margin: 40px 0px;
    width:50%;
    text-align:center;
}
#welcome img{
    width: 90%;
}
figcaption{
    margin:8px 20px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width:600px){
   #welcome {
    width: 100%;
   }
    #welcome h1{
        font-size:16px;
    }
    #welcome p{
        font-size:12px;
    }
    #welcome i{
        padding:0px 10px;
        font-size: 14px;
    }
    #welcome button{
        font-size:9px;
    }
    #welcome figure{
        width:60%;
    }
    #welcome figcaption{
        font-size: 8px;
    }
}
@media only screen and (min-width:600px){
    #welcome {
        width: 100%;
       }
    #welcome h1{
        font-size:20px;
    }
    #welcome p{
        font-size:15px;
    }
    #welcome i{
        margin:0px;
        padding:0px 10px;
        font-size: 16px;
    }
    #welcome button{
        font-size:15px;
    }
    #welcome figure{
        width:70%;
    }
    #welcome figcaption{
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px){
    #welcome {
        width: 90%;
       }
    #welcome h1{
        font-size:25px;
    }
    #welcome p{
        font-size:17px;
    }
    #welcome i{
        padding:0px 18px;
        font-size: 25px;
    }
    #welcome button{
        font-size:12px;
    }
    #welcome figure{
        width:60%;
    }
    #welcome figcaption{
        font-size: 10px;
    }
}
/*min-width: 992px-1840px; h1 is too large, image is too small and the #welcome <div> seems incredibly squished. 
after min-width: 1841px; the width:50%; fits <div #welcome> contents nicely*/
@media only screen and (min-width:992px){
    #welcome {
        width: 50%;
       }
    #welcome h1{
        font-size:40px;
    }
    #welcome p{
        font-size:20px;
    }
    #welcome i{
        padding:0px 20px;
        font-size: 40px;
    }
    #welcome button{
        font-size:20px;
    }
    #welcome figure{
        width:60%;
    }
    #welcome figcaption{
        font-size: 15px;
    }
}
@media only screen and (max-width:1199px){
    #welcome figure{
        display:none;
    }
}
/*brand awareness*/
#banner{
    margin:auto;
    padding:30px;
    width:100%;
    font-size:40px;
    text-align:center;
    color:white;
    background-color:rgb(59,59,79);
    border:1px solid black;
    
}
#banner h1{
    margin:auto;
    padding:30px 0px;
    width:30%;
    font-size:40px;
    font-family:'Montserrat', sans-serif; ;
}
#banner img{
    padding-bottom:20px;
    width:150px;
    height:auto;
}
#testimonials{
    margin:auto;
    padding:30px 50px;
    width:60%;
    align-items:center;
    contain:content;
    display:flex;
    flex-direction:column;
}
#testimonials h1{
    margin:auto;
    padding:20px 0px;
    font-size:40px;
}
.alumniCards{
    margin: 30px 0px;
    contain:content;
    width: 70%;
    display:flex;
    flex-direction: row;
    box-shadow:0px 0px 20px #080707;
}
#testimonials img{
    position:inherit;
    z-index:0;
}
.textbox{
    padding:40px;
    text-align:left;
    contain: content;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align:center;

}
.textbox p{
    padding: 20px;
    width: 90%;
}
#certification{
    margin:auto;
    padding:100px; 
    display:flex;
    flex-direction:column;
    align-items: center;
}
#certification h1{
    font-size:35px;
}
.cuCards{
    margin: 10px 0px;
    padding: 10px;
    width:30%;
    color:rgb(10,10,35);
    background-color: rgb(208,208,213);
    border: 3px solid rgb(10,10,35);
    text-decoration: none;
    text-transform:capitalize;
    display:flex;
    align-items: center;
}
.cuCards:hover{
    color:rgb(208,208,213);
    background-color: rgb(10,10,35);
    border: 3px solid rgb(10,10,35);
}
.cuCards i{
    font-size:40px;
}
.cuCards p{
    margin: 0px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
}
#certification button{
    width:20%;
}











footer{
    
    Padding: 20px;
    font-size: 16px;
    background-color:rgb(208,208,213);
}
h3{
    text-align:center;
}
.missionStatement{
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.about{}
.missionStatement td{
    padding:5px 10px;
}
.missionStatement table{
    margin: 10px 40px;
}

.missionStatement div{
    margin: 10px 40px;
    width:18%;
    
}
footer ul{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
footer a{
    padding:5px 10px;
    text-decoration:none;
    color:black;
}
footer a:hover{
    color:blue;
    text-decoration: underline;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .missionStatement{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .about{
        width:20rem;
        border:1px solid;
    }
    .missionStatement table{}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){}


