*{
    font-family:sans-serif;
}
img{
    width:30%;
    height:auto;
    display:inline;
    float:right;
}
h2{
    padding:6px;
    Color: rgb(30, 115, 160);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(182, 214, 232);
    text-transform:capitalize;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    text-transform:capitalize;
}
th,td{
    padding:3px;
    border: 1px solid black;
}
tr:nth-child(odd){
    background-color:rgb(225, 243, 253);
}
tbody>tr:nth-child(1){
    color:rgb(109, 109, 209);

}
tbody tr td:nth-child(1){
    color:blue;
    font-weight: bold;

}
tfoot tr td:nth-child(1){
    color:rgb(109, 109, 209);
    font-weight: bold;
    
}
#hci{
    color:rgb(0, 0, 0);
    font-family:fantasy;
    font-weight: bold;
    text-transform: uppercase;
}
#uid{
    color:rgb(109, 109, 209);
    font-weight: bold;
}
#interest{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

